html,body{
    background-color: #F3F6F9;
}

.bg-color-white{
    background: white;
    border-radius: 5px;
}

.w-30px{
    width: 30px;
}

.w-95{
    width: 95%;
}

.bg-color-white-smoke{
    background-color: #F3F6F9;
}

.h-30px{
    height: 30px;
}

.bg-color-blue-white{
    background-color: #556EE6;
}

.text-color-grey{
    color: #74788D;
}

.text-color-white{
    color: white;
}